

<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
-->







<!-- put that inside a proper css file.. -->
<style type="text/css">


  <!-- brand logos for the slick carousel -->
  .brandslide {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

/*
  .slick-active {
    margin-right: 1rem;
  }
*/

  article img {
    max-width: 100%;
    height: auto;
  }


  /* top slide class for slick slides that are included with include function "s_gallery" --> */
  .top_slide {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }

/*  standard class for slick slides that are included with include function "s_gallery" --> */
  .slick-slide {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }

  #navigation,.navbar .navbar-default{
      background-image: url("/images/green-back-1300x200-2.jpg"); /* assuming img folder is one step back from css*/
    }

</style>
