<header class="site-header" role="banner">



<style type="text/css">

  .active {
      font-weight: bold;
      color: red;
  }



    .site-header {
      background-image: url("/images/green-back-1300x200-2.jpg");
    }





</style>


<!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded"> -->

    <nav class="navbar navbar-toggleable-md">
      <button class="navbar-toggler navbar-toggler-right navbar-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}"><img src="/images/IKI-logo-cn-280x115-light-alpha.png" /></a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">

          {% for my_page in site.pages %}
            {% if my_page.title %}

              {% if page.url == (my_page.url | relative_url) %}
                <li class="nav-item active">
              {% else %}
                <li class="nav-item">
              {% endif %}

                  <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                </li>
            {% endif %}
          {% endfor %}

        </ul>

      </div>
    </nav>

<!--
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">

          {% for my_page in site.pages %}
            {% if my_page.title %}
            <li>
                {% if page.url == (my_page.url | relative_url) %}
                  <a class="active" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {% else %}
                  <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {% endif %}
            </li>
            {% endif %}
          {% endfor %}

        </ul>
        <ul class="side-nav" id="mobile-demo">

          {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
            {% endif %}
          {% endfor %}

        </ul>
      </div>
    </nav>
-->


</header>
