---
layout: page
---

{% include capture_locale.html %}

{% for item in site.{{ site.label }} %}
	<div class="cookie">
		<h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
	</div>
{% endfor %}

<ul>

{% for coll in site.collections %}
	{% if page.relative_path contains coll.relative_directory %}

		<!-- <p> got active collection:{{coll.label}}</p> -->

		{% assign activeCollName = page.path

		{% for item in coll.docs %}
			<div class="cookie">
				<h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
				<!--<h2><a href="{{ site.url }}/">{{ item.title }}</a></h2>-->
			</div>
		{% endfor %}


<!--
		{% for arti in coll.docs %}
			{% if arti.ref == page.ref and page.lang != arti.lang %}

			    <li class="lang">
			        <a href="{{ arti.url }}" class="{{ page.lang }}">
			        	{{site.data.languages[arti.lang] }}
			       	</a>
			    </li>
			{% endif %}

		{% endfor %}
-->

	{% endif %}

{% endfor %}
</ul>


<!--{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}-->
